<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" preserve-order="true">
  <test name="Test1">
    <classes>
      <class name="ru.stqa.selenium.LoginTest"/>
      <class name="ru.stqa.selenium.AddMovieTest1"/>
      <class name="ru.stqa.selenium.Logout"/>
    </classes>
  </test>
  <test name="Test2">
    <classes>
      <class name="ru.stqa.selenium.LoginTest"/>
      <class name="ru.stqa.selenium.AddMovieTest2"/>
      <class name="ru.stqa.selenium.Logout"/>
    </classes>
  </test>
  <test name="Test3">
    <classes>
      <class name="ru.stqa.selenium.LoginTest"/>
      <class name="ru.stqa.selenium.DeleteMovieTest"/>
      <class name="ru.stqa.selenium.Logout"/>
    </classes>
  </test>
</suite>